<div class="app">
    <div class="navbar">
        <div class="nav-container">
            <div class="logo-container"> 
                <mat-icon class="icon-display"> bubble_chart</mat-icon>
            <div class="logo">Cryptoverse</div>
            </div>
            <div class="tree">
                <ul>
                  <li><mat-icon>home</mat-icon>Home</li>
                  <li><mat-icon>account_balance_wallet</mat-icon>Cryptocurrencies</li>
                  <li><mat-icon>assessment</mat-icon>Exchanges</li>
                  <li><mat-icon>swap_vert</mat-icon>Top Gainers & Losers</li>
                  <li><mat-icon>public</mat-icon>News</li>
                </ul>
            </div>
            
        </div>
    </div>


    <div class="main">

    
    
  <app-home-page></app-home-page>
        
</div>
</div>
    
